[name="slide3"] {display:none;}
.slidebox3{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    margin-left: -1.2%;
}
.slidebox3 img {max-width:100%;}
.slidebox3 .slidelist3{
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:300; font-size:1.2rem; letter-spacing: 3px;
}
.slidebox3 .slideitem3{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}
.slideitem3 p{
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 3em;
}
.slidebox3 .slideitem3 label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.slidebox3 .slideitem3 label:hover{
    opacity: 0.5;
}
label.left3{
    left: 13%;
    background-color: #ffffff;
    background-image: url('subimg/left.png');
    background-position: center center;
    background-size: 200%;
    background-repeat: no-repeat;
}
label.right3{
    right: 13%;
    background-color: #ffffff;
    background-image: url('subimg/right.png');
    background-position: center center;
    background-size: 200%;
    background-repeat: no-repeat;
}
[id="slide31"]:checked ~ .slidelist3 .slideitem3 {transform:translateX(0);}
[id="slide32"]:checked ~ .slidelist3 .slideitem3 {transform:translateX(-100%);}
[id="slide33"]:checked ~ .slidelist3 .slideitem3 {transform:translateX(-200%);}
