@charset "utf-8";
header>h1{
    margin-left:3%;
    font-family: 'Water Brush', cursive;
}
ul, ol, li{list-style: none;}
ul::after{/*li float 해제*/
    content:"";display:block; clear:both;
}
header a{
    color: black;
    text-decoration: none;
}
.mainmenu{
    font-family: 'Gowun Dodum', sans-serif;
}
header a:visited{
    color: black;
    text-decoration: none;
}
.mainmenu>a:hover{
    color:rgb(82, 82, 82); font-size: 1.15rem;
}
header{
    height: 40px;
    width:100%;
    padding: 1rem;
    font-weight: bold;
    background:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /*border-bottom: solid 1px black;*/
    top:0; left:0;
    z-index: 2;
}
body{
    padding-top:60px;
    margin-left: 0; margin-right: 0;
    padding-left: 0; padding-right: 0;
}
html{
    margin-left: 0; margin-right: 0;
    padding-left: 0; padding-right: 0;
}
#menu{
    width: 30%; text-align:center;
}  
#main1>li{
    text-align:center;
    position:relative;
    float:left;
}
ul>li>a{
    text-align: center;
    margin:0 auto;
}

.mainmenu{
    font-size: 1.2rem; text-align:center;
    width: 40%;
}
#maincontent{
    width: 100%;/*672*/
    height: 300px;
    position:relative;
    font-family: 'Nanum Gothic Coding', monospace;
    /* border: 4px solid red; */
    /*background: linear-gradient(90deg, white 20%, rgb(205, 198, 163) 0%);*/
    z-index: 1;
    margin-bottom: 250px;
}
#maincontent::after{
    width:100%;
    height: 300px;
    top: -65px;
    position: absolute;
    background-image: url('subimg/paper.jpg');
    background-size: cover;
    content:"";
    opacity: 60%;
    z-index: -1;
}
#maincontent h1{
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-size: 1.8rem; letter-spacing: 2px;
    text-align: center;
    margin-top: 70px;
    line-height: 0.4em;
    color: rgb(13, 97, 51);
}
#maincontent h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:300; font-size: 0.9rem; letter-spacing: 1px;
    text-align: center;
}
#maincontent .buts{
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem; font-weight: 400;
    margin-top: 60px;
}
#maincontent .but{
    padding-left: 20px; padding-right:20px;
    padding-bottom: 160px;
    /*width: 13%;
    height: 200px;*/
    background-color: white;
    text-align: center;
    padding-top: 20px;
    line-height: 3em;
    cursor:pointer;
    box-shadow: 10px 20px 10px 1px lightgray;
}
#maincontent .but:hover{
    box-shadow: 10px 20px 10px 1px gray;
}
#maincontent #mbt1{
    background-image: url('subimg/user.png');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center 80px;
    margin-right:2%;
}
#maincontent #mbt2{
    background-image: url('subimg/distance.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center 90px;
    margin-right: 2%;
}
#maincontent #mbt3{
    background-image: url('subimg/pie-chart.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center 85px;
}
/*#maincontent hr{
    border: 1.5px solid rgb(80, 190, 72);
    width: 5%;
    margin-left: 91.4%;
    margin-top: 140px;
    margin-bottom: -8px;
}*/
#content{
    width: 100%;
    height: 672px;
    position: static;
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
    font-weight:300; font-size:1.2rem; letter-spacing: 3px;
}
#content h1{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size:1.4rem;
    margin-bottom: 15px;
}
#content h2{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 10px;
    line-height: 0.5em;
    font-weight:300; font-size:0.9rem; letter-spacing: 2px;
    text-align: center;
}
#content .but1{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400; font-size:1rem; letter-spacing: 1px;
    /*background-color: rgb(46, 190, 72);*/
    background-image: url('subimg/paper.jpg');
    background-size: cover;
    border : 0px solid rgb(46, 190, 72);
    border-radius:5px;
    padding: 7px;
    padding-left:20px;
    padding-right:20px;
    cursor: pointer;
}
#content .but1:hover{
    box-shadow: 1px 1px 1px 1px lightgray;
    font-size: 0.95rem;
}
[name="slide"] {display:none;}
.slidebox{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: transparent;
    margin-left: -1.2%;
}
.slidebox img {max-width:100%;}
.slidebox .slidelist{
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:300; font-size:1.2rem; letter-spacing: 3px;
}
.slidebox .slideitem{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}
.slideitem p{
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 3em;
}
.slidebox .slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.slidebox .slideitem label:hover{
    opacity: 0.5;
}
label.left{
    left: 13%;
    background-color: #ffffff;
    background-image: url('subimg/left.png');
    background-position: center center;
    background-size: 200%;
    background-repeat: no-repeat;
}
label.right{
    right: 13%;
    background-color: #ffffff;
    background-image: url('subimg/right.png');
    background-position: center center;
    background-size: 200%;
    background-repeat: no-repeat;
}
[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);}
